@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/signinCss")
<div class="container" id="signinView">
    <form role="form" class="form-signin">
        <h2 class="form-signin-heading"><span class="glyphicon glyphicon-user"></span>@ViewBag.Title</h2>
        <input id="signId" class="form-control" type="text" autofocus="autofocus" autocomplete="on" required="required" placeholder="输入用户编码">
        <input id="pwd" class="form-control" type="password" autofocus="autofocus" required="required" placeholder="输入密码">
        <a class="btn btn-lg btn-primary btn-block">&nbsp;登&nbsp;&nbsp;录&nbsp;</a>
        <p></p>
        <a href="#">忘记密码</a>
    </form>
</div>
<script>
    require(['./Retailer/Sign/SigninView', 'jquery', 'backbone'], function (SigninView) {
        var signinView = new SigninView({
            el: "#signinView"
        });
    });
</script>
