<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <script src="/Scripts/require.js" data-main="/Scripts/main"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
