@{
    ViewBag.Title = "供应商管理平台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@ViewBag.Title</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="用户名"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="密码"/>
                </div>
                <a class="btn btn-success" href="#">登录</a>
                <a class="btn btn-warning" href="#">注册</a>
                <a class="" href="#"><small>忘记密码？</small></a>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">首页</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#">新品发布</a></li>
                <li><a href="#">商品维护</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#">订货单</a></li>
                <li><a href="#">验收单</a></li>
                <li><a href="#">退货单</a></li>
                <li><a href="#">进价调整单</a></li>
                <li><a href="#">结算单</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#">商品查询</a></li>
                <li><a href="#">其他统计</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">标题</h1>
        </div>

    </div>
</div>
